@import "normalize.css/normalize.css";
@import 'variables';
@import 'animation';
@import 'container';
@import 'header';
@import 'footer';
@import 'page';
@import 'pagelist';
@import 'media';
@import 'overlay';
@import 'contents';

html {
    font-size: 62.5%;
}
body {
    color: $primaryText;
    background-color: $primaryColor;
    font-size: 1.4rem;
}