.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9527;
    overflow: auto;
}
.button-close {
    position: fixed;
    top: 0;
    left: 0;
    border: 0;
    border-radius: 0;
    background-color: transparent;
    width: 38px;
    height: 38px;
    transition: background-color 0.25s;
}
.button-close:hover {
    background-color: rgba(0,0,0,.15);
}