@import 'normalize.css';

html {
    font-size: 62.5%;
}
body {
    color: #434343;
    background: #FFFFFF;
    font-size: 1.4rem;
}
img {
    vertical-align: baseline;
    max-width: 100%;
}

.header,
.footer {
    visibility: visible;
}

.header-enter {
  opacity: 0.01;
  transform: translateY(-100%);
}

.header-enter.header-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 250ms ease-out;
}
.header-leave {
  opacity: 1;
  transform: translateY(0);
}

.header-leave.header-leave-active {
  opacity: 0.01;
  transform: translateY(-100%);
  transition: all 250ms ease-out;
}

.footer-enter {
  opacity: 0.01;
  transform: translateY(100%);
}

.footer-enter.footer-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 250ms ease-out;
}
.footer-leave {
  opacity: 1;
  transform: translateY(0);
}

.footer-leave.footer-leave-active {
  opacity: 0.01;
  transform: translateY(100%);
  transition: all 250ms ease-out;
}